<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <cenetr>
        <h1 style="color:rgb(159, 21, 131)"><marquee>welcome to jadeja Html  page</h1></marquee>
        <p style="color: turquoise;">Ravindrasinh Anirudhsinh Jadeja, commonly known as Ravindra Jadeja, is an Indian international cricketer. He is an all-rounder, who bats left-handed and bowls left-arm orthodox spin. He was the captain of the Chennai Super Kings in the Indian Premier League. He represents Saurashtra in first-class cricket.</p>
        <a href="{% url 'CSK:dhoni' %}">Navigate to dhoni</a>
        <a href="{% url 'MI:pandya' %}">Navigate to pandya...</a>
        <a href="{% url 'MI:rohit' %}">Navigate to rohit...</a>
    </cenetr>
</body>
</html>