<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <cenetr>
        <h1 style="color:orange"><marquee>welcome to pandya Html  page</h1></marquee>
        <p style="color:blue">ardik Himanshu Pandya (born 11 October 1993) is an Indian international cricketer who is the current vice-captain of the Indian cricket team in limited overs. An All-rounder who bats right-handed and bowls right-arm fast-medium, Pandya has played in all 3 formats for India.</p>
        <a href="{% url 'MI:rohit' %}">Navigate to rohit...</a>
        <a href="{% url 'CSK:dhoni' %}">Navigate to dhoni...</a>
        <a href="{% url 'CSK:jadeja' %}">Navigate to jadeja...</a>
    </cenetr>
</body>
</html>